<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.proven.cat/intraweb/images/stories/institut/s5_logo.png"  style="width:200px;" class="rounded-pill"> 
      <a class="navbar-brand" routerLink=""></a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="forms">Registro</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="inscripcio">Inscripció ( Exercici 5 )</a>
        </li>


      </ul>
     </div>
     </div>

</nav> 



<div>
  <router-outlet></router-outlet>
</div>