.header-publicitat {
    background-image: url('../img/alegria.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.navbar-custom {
    background-color: #0056b3;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.card-img-top {
     object-fit: cover;  /*asseguro que la imatge cobreixi tot l'espai assignat sense deformar-se. */
    height: 200px; 
}

.error {
    color: red;
    font-size: 0.8rem;
    display: none;
}

#resultats {
    display: none;
}
